.content-here {
    z-index: 100;
    color: black;
    /* padding-top: -10px; */
    border: 1px solid black;
    border-top-left-radius: 25px;
    background-color: white;
    padding-left: 10px;
    margin-right: 10px;
    height: 86vh;
    border-bottom-right-radius: 25px;
}

.row {
    width: 100%;
    margin: 0%;
}

.content-container {
    background-color: black;
    height: 88vh;
    width: 85vw;
}

.sub_cards {
    margin: 1%;
    max-width: 17vw;
    height: auto;
    margin: 2%;
    padding: 0%;
    border: 1px solid black;
    /* border-radius: 5%; */
}

.sub_card_title_div {
    height: auto;
    width: 100%;
    margin: 0%;
}

.sub_card_title {
    padding: 2%;
    font-size: 2vw;
    margin: 0%;
}

.sub_card_content_div {
    height: auto;
    padding: 2%;
}

.sub_card_text {
    font-size: 1vw;
    margin: 0%;
    padding: 1%;
}

@media screen and (max-width:800px) {
    .sub_card_title {
        padding: 5%;
        font-size: 2.5vw;
    }

    .sub_card_text {
        font-size: 1.2vw;
    }

}

@media screen and (max-width:500px) {
    .sub_card_title {
        font-size: 2.5vw;
        padding: 5%;
    }

    .sub_card_text {
        font-size: 1.3vw;
    }

    .sub_cards {
        margin: 2%;
        max-width: 20vw;
    }
}