.sidenav_main_div{
    padding-left:2vw;
    width: 15vw;
    height:100vh;
}
.navitem{
    font-size:1vw;
    margin-top: 10%;
}
hr{
    width: 10vw;
    border: 1px solid rgba(87, 91, 93, 0.978);
}

@media screen and (max-width:1000px)
{
    .navitem{
        font-size: 1.8vw;
    }
}