.footer_body {
    width: 100%;
    display: flex;
    padding: 3% 7% 3% 7%;
    height: auto;
    background-color: rgb(14, 127, 152);
    position: absolute;
}

.footer_block {
    width: 20%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.footer_block_head {
    padding-bottom: 2%;
    color: #fff;
    text-align: center;
    font-size: 2vw;
    font-family: "Times New Roman", Times, serif
}

.footer_block_content {
    color: #fff;
    font-size: 1.2vw;
    text-align: justify;
}

.footer_border {
    height: 20px;
    background-color: rgb(137, 23, 11);
}

.footer_link_list {
    list-style-type: none;
    color: #fff;
    text-align: left;
    padding: 0%;
}

.footer_list_item {
    color: #fff;
    display: block;
    margin-bottom: 2%;
    text-decoration: none;
}

.footer_list_item:hover {
    color: rgb(102, 230, 104);
    text-decoration: none;
}

.footer_contact_list {
    color: #fff;
    padding: 0%;
    list-style-type: "";
}

.footer_contact_list_item {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1vw;
    margin: 2.5%;
}

.footer_link_list_li {
    display: flex;
    font-size: 1.2vw;
}

.footer_block_head_mob {

    font-family: "Quicksand";
    padding-bottom: 0.5%;
    font-weight: 600;
    color: #fff;
    padding-left: 6%;
    font-size: 3vw;
}

.footer_block_mob {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(14, 127, 152);
    /* position: absolute;
    bottom: 0; */
}

.mob_address {
    display: flex;
    padding: 3%;
}

.mob_map {
    width: 50%;
    height: 5vw;
    object-fit: contain;
    padding: 0% 0.5% 0% 0.5%;
}

.mob_address_info {
    width: 50%;
    padding: 0px 1% 0px 1%;
    font-size: 2.5vw;
}

.footer_iframe {
    width: 100%;
    height: auto;
}

#loc_mob {
    display: none;
}


@media screen and (max-width:768px) {
    .mob_transparent {
        display: none;
    }

    .footer_block {
        width: 46%;
        margin-right: 4%;
        margin-left: 4%;
    }

    .footer_contact_list_item {
        font-size: 2vw;
        margin: 0px 0px 10px 0px;
    }

    .footer_link_list_li,
    .bi,
    .footer_block_content {
        font-size: 2.5vw;
    }

    .footer_block_head {
        font-size: 3vw;
    }

    .footer_body {
        padding: 0.5% 4% 0.5% 4%;
    }

    #loc_mob {
        display: inline-block;
    }

    .footer_contact_list {
        padding-right: 6%;
        padding-left: 6%;
    }

    .footer_iframe {
        width: 100%;
        height: auto;
    }


}